# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# VSCode settings
.vscode/

# TensorBoard logs and states
tensorboard_logs/
tensorboard_states/

# Mac OS specific files
.DS_Store

# Environment files
.env

# Data files
data/