# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# VSCode settings
.vscode/

# TensorBoard logs and states
tensorboard_logs/
tensorboard_states/

# Data files
data/*.png
data/dog_demo/
data/images/
data/sd_scripts/
data/synset_hierarchies/
data/vectors/

# Data and Figures
data/
figures/

# Mac OS specific files
.DS_Store